* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: black;
}

.index {
  display: flex;
  border: 1px solid black;
  flex-direction: row;
}

.conteudo-index {
  /* border: 5px solid black; */
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.sidebar {
  background-color: rgba(39, 60, 78, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 240px;
  height: 100vh;
  padding: 40px 10px 30px 10px;
  border-right: 1px solid black;
}

.sidebar-header {
  color: white;
  font-family: sans-serif;
  display: inline-flex;
  width: 100%;
  margin-bottom: 16px;
  text-align: left;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.botao-sidebar {
  width: 100%;
  transition: transform 0.4s;
  border-radius: 25px;
  font-family: sans-serif;
  cursor: pointer;
  text-align: left;
  padding: 0;
}

.botao-sidebar:hover {
  background-color: rgb(210, 210, 210);
  transform: scale(1.01);
}

.sidebar button > span {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  height: 48px;
  padding: 0px 16px 0px 12px;
}

a:visited {
  color: black;
  text-decoration: none;
}

.titulo-certificados {
  display: flex;
  width: 95%;
  justify-content: center;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}

.index-certificados {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
}

.card-certificado {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 300px;
  border: 1px solid black;
  border-radius: 15px;
}

.status-certificado-encerrado {
  border: 1px solid black;
  background-color: red;
  color: #ffff;
  font-family: sans-serif;
  border-radius: 15px;
  text-align: center;
  width: 180px;
  margin: 10px;
  padding: 10px 20px 10px 20px;
}

.status-certificado {
  border: 1px solid black;
  background-color: green;
  color: #ffff;
  font-family: sans-serif;
  border-radius: 15px;
  text-align: center;
  width: 180px;
  margin: 10px;
  padding: 10px 20px 10px 20px;
}

.botoes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.botoes a {
  text-decoration: none;
}
.botao-editar-novo {
  display: flex;
  margin: 20px;
  padding: 10px 20px 10px 20px;
  background-color: white;
  cursor: pointer;
  border-radius: 15px;
  text-decoration: none;
}
